.short_asset__container {
	display: grid;
	grid-template-columns: 1fr 1fr auto 1fr 1fr;
	height: 40px;
	width: 100%;
	align-items: center;
	text-align: center;
	border-radius: 18px;
	padding: 0 10px;
	user-select: none;
	cursor: pointer;
	position: absolute;

	&:hover {
		background-color: rgb(241, 241, 241);
	}
}

.short_asset__name {
	grid-column: 1;
	text-align: left;
}

.short_asset__price {
	grid-column: 3;
}

.short_asset__price_change {
	text-align: right;
	grid-column: 5;
}
